In [1]:
import json
import pandas as pd
import numpy as np
import scipy as sp
import re
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

# Load data

In [6]:
def parse(path):
  g = open(path, 'r',encoding='utf-8')
  for l in g:
    yield eval(l)

In [3]:
def remove_non_ascii(word):
    word = word.lower()
    word = ''.join([i for i in word if i.isalnum() and ord(i) < 128 ])
    return word

In [4]:
def textcleaned(sentence):
    sentence = sentence.lower()
    
    # split into words
    tokens = word_tokenize(sentence)
    
    # remove punctuation
    table = str.maketrans('', '', punctuation)
    stripped = [w.translate(table) for w in tokens]
    
    # remove other lauguages and some special character
    words = [remove_non_ascii(word) for word in stripped]
    
    # filter out stop words
    stop_words = set(stopwords.words('english'))
    words = [w for w in words if not w in stop_words]
    
    # stemming of words
#     porter = PorterStemmer()
#     words = [porter.stem(word) for word in words]
    
    return ' '.join(words)

In [7]:
reviews = []
counter = 0
for i in parse("australian_user_reviews.json"):
    dump = json.dumps(i)   
    load = json.loads(dump)
    counter += 1
    if counter%1000 == 0:
        print(counter)
    for i in range(len(load['reviews'])):
        # filter out some non-english reviews and remove stop-words
        load['reviews'][i]['review'] = textcleaned(load['reviews'][i]['review'])
        observation = [load['user_id'],load['reviews'][i]['item_id'],load['reviews'][i]['recommend'],load['reviews'][i]['review']]
        reviews.append(observation)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000

In [65]:
df = pd.DataFrame(reviews)
df.columns = ['user_id', 'item_id','isRecommend','reviews']
print(df.shape)
df.head(n=20)

(59305, 4)

,user_id,item_id,isRecommend,reviews
0,76561197970982479,1250,True,simple yet great replayability opinion zombi...
1,76561197970982479,22200,True,unique worth playthrough
2,76561197970982479,43110,True,great atmosphere gunplay bit chunky times end...
3,js41637,251610,True,know think see title barbie dreamhouse party ...
4,js41637,227300,True,simple actually simple truck driving simula...
5,js41637,239030,True,fun little game play bored time passer gud r...
6,evcentric,248820,True,suitably punishing roguelike platformer winni...
7,evcentric,370360,True,run fun hell kind fun
8,evcentric,237930,True,elegant integration gameplay story world dev...
9,evcentric,263360,True,random drops random quests stat points anima...
10,evcentric,107200,True,fun balance tactics strategy potential reward...
11,evcentric,224500,True,fun world builder plenty option want challeng...
12,doctr,250320,True,game fun fight sequences improved walking de...
13,doctr,20920,True,really really really great game good story i...
14,doctr,204100,True,buy already great story great multiplayer go...
15,doctr,224600,True,great game played right need find actual down...
16,doctr,207610,True,ending game buy invested im automatical...
17,doctr,108710,True,alan wake really good game light effects pret...
18,maplemage,211420,True,git gud
19,maplemage,211820,True,like terraria play 9 hours straight get endg...

# Data cleaning

In [66]:
df[df['user_id'] == '76561198048353577']

,user_id,item_id,isRecommend,reviews
59,76561198048353577,368230,True,startmade mad basegot red moon butt ed1110 wo...
60,76561198048353577,4000,True,top quality star wars rp bomb
61,76561198048353577,33930,True,great game really fun play friends beast game

In [67]:
df[df['user_id'] == '76561198070565427']

,user_id,item_id,isRecommend,reviews
65,76561198070565427,218620,True,5 steampayday 25payday2 1 5002 3 4 5 ...
66,76561198070565427,208090,True,well dont
67,76561198070565427,242700,True,100100
68,76561198070565427,570,False,w
69,76561198070565427,224260,True,